In [2]:
import pandas as pd

df = pd.read_json('population.json')
df

      total    male  female
0    348385  178705  169680
1    373544  191883  181661
2    388334  199867  188467
3    405067  207898  197169
4    386906  198581  188325
..      ...     ...     ...
96    12561    2701    9860
97     9208    2037    7171
98     6285    1389    4896
99     3748     835    2913
100    6882    1571    5311

[101 rows x 3 columns]

In [ ]:
df.to_json("test.json",index=False)