In [2]:
import pandas as pd
import json

In [3]:

page_name = [f"https://www.kody-pocztowe.dokladnie.com/okreg{i+1}.php"
                for i in range(9)]
page_name.insert(0, r"https://www.kody-pocztowe.dokladnie.com/")

In [4]:
postcode_df = [pd.read_html(page)[2]
                for page in page_name]

In [5]:
for i in range(len(postcode_df)):
    postcode_df[i].columns = postcode_df[i].iloc[0].str.replace(" ","_")

In [6]:
postcode_df[0].head(3)

,KOD_POCZTOWY,ADRES,MIEJSCOWOŚĆ,WOJEWÓDZTWO,POWIAT
0,KOD POCZTOWY,ADRES,MIEJSCOWOŚĆ,WOJEWÓDZTWO,POWIAT
1,00-001,"Poczta Warszawa 001, ul. Świętokrzyska 31/33",Warszawa,mazowieckie,M. Warszawa
2,00-001,ul. Świętokrzyska 31/33,Warszawa,mazowieckie,M. Warszawa

In [7]:
for i in range(len(postcode_df)):
    postcode_df[i].drop([0], inplace=True)

In [8]:
postcode_df[6].head(3)

0 KOD_POCZTOWY           ADRES MIEJSCOWOŚĆ    WOJEWÓDZTWO     POWIAT
1       60-001     ul. Ceglana      Poznań  wielkopolskie  M. Poznań
2       60-001  ul. Ceramiczna      Poznań  wielkopolskie  M. Poznań
3       60-001    ul. Gliniana      Poznań  wielkopolskie  M. Poznań

In [9]:
concate_df = pd.concat(postcode_df, ignore_index=True)

In [10]:
voivodeships = list(concate_df["WOJEWÓDZTWO"].sort_values().unique())

In [11]:
postcode_dict = {v:list(concate_df[concate_df["WOJEWÓDZTWO"]==v].KOD_POCZTOWY)
                for v in voivodeships}

In [24]:
max_len = max([len(item) for item in postcode_dict.values()])

for key, values in postcode_dict.items():
    curr_list = [i for i in values]
    curr_list.extend([None for _ in range(max_len - len(curr_list))])
    postcode_dict[key] = curr_list

In [26]:
postcode_df = pd.DataFrame(postcode_dict)

In [29]:
postcode_df.to_csv("postcode.csv")
postcode_df.to_excel("postcode.xlsm")
postcode_df.to_json("postcode.json")

In [30]:
import time

In [36]:
start = time.time()
for _ in range(1000):    
    pd.read_csv("postcode.csv")
stop = time.time()

print("csv:", stop-start)

start = time.time()
for _ in range(100):    
    pd.read_excel("postcode.xlsm")
stop = time.time()

print("xlsm:", stop-start)

start = time.time()
for _ in range(1000):    
    pd.read_json("postcode.json")
stop = time.time()

print("json:", stop-start)

csv: 14.132561206817627
xlsm: 117.9275255203247
json: 44.2541298866272

In [12]:
# with open("post_codes.json", 'w+', encoding="UTF-8") as fp:
#     json.dump(postcode_dict, fp, ensure_ascii=False)

csv: 12.15451169013977
xlsm: 1184.8152639865875
json: 45.65830969810486

csv: 14.874550819396973
xlsm: 122.72086262702942 *10
json: 49.66053509712219

csv: 14.132561206817627
xlsm: 117.9275255203247
json: 44.2541298866272