In [63]:
import pandas as pd

In [90]:

page_name = [f"https://www.kody-pocztowe.dokladnie.com/okreg{i+1}.php"
                for i in range(9)]
page_name.insert(0, r"https://www.kody-pocztowe.dokladnie.com/")

In [100]:
postcode_df = [pd.read_html(page)[2]
                for page in page_name]

In [101]:
for i in range(len(postcode_df)):
    postcode_df[i].columns = postcode_df[i].iloc[0].str.replace(" ","_")

In [105]:
postcode_df[0].head(3)

,KOD_POCZTOWY,ADRES,MIEJSCOWOŚĆ,WOJEWÓDZTWO,POWIAT
0,KOD POCZTOWY,ADRES,MIEJSCOWOŚĆ,WOJEWÓDZTWO,POWIAT
1,00-001,"Poczta Warszawa 001, ul. Świętokrzyska 31/33",Warszawa,mazowieckie,M. Warszawa
2,00-001,ul. Świętokrzyska 31/33,Warszawa,mazowieckie,M. Warszawa

In [106]:
for i in range(len(postcode_df)):
    postcode_df[i].drop([0], inplace=True)

In [109]:
postcode_df[6].head(3)

0 KOD_POCZTOWY           ADRES MIEJSCOWOŚĆ    WOJEWÓDZTWO     POWIAT
1       60-001     ul. Ceglana      Poznań  wielkopolskie  M. Poznań
2       60-001  ul. Ceramiczna      Poznań  wielkopolskie  M. Poznań
3       60-001    ul. Gliniana      Poznań  wielkopolskie  M. Poznań

In [110]:
concate_df = pd.concat(postcode_df, ignore_index=True)

In [117]:
voivodeships = list(concate_df["WOJEWÓDZTWO"].sort_values().unique())

In [121]:
postcode_dict = {v:list(concate_df[concate_df["WOJEWÓDZTWO"]==v].KOD_POCZTOWY)
                for v in voivodeships}

In [125]:
import json

In [133]:
with open("post_codes.json", 'w+', encoding="UTF-8") as fp:
    json.dump(postcode_dict, fp, ensure_ascii=False)